.card {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
    .form-43 & {
        background-color: rgba(0, 62, 83, 0.65);
        border: 1px solid #003c53;
    }
    a {
        color: #fff;
        text-transform: uppercase;
    }
    p {
        margin: 0;
    }
}