.form-43 {
    select,
    textarea,
    input {
        background-color: rgba(255, 255, 255, 0.2);
        color:#fff;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }
    label {
        margin-bottom: 3px;
    }
    .empty-list {
        text-transform: uppercase;
        color: transparent;
        text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.47);
        text-align: center;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        padding: 10px;
        margin-top: 15px;
    }
    .input-group-btn .btn{
        background-color: #122c49;
        color: #fff;
    }
    .card {
        .input-group-addon {
            background-color: #122c49;
            color: #fff;
        }
    }
}
