html,
body {
    height: 100%;
}
body {
    background-color: #003c53;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    position: relative;
}
#app {
    
}
.bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &__img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        opacity: 0.4;
        background-image: url(http://atre.cl/assets/img/bg1.jpg);
        animation: move 30s infinite ease-in-out;
    }
}

@keyframes move {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.1) rotate(0.5deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}
