.modal-add-exe {
    transition: all ease-in-out 300ms;

    &.modalOn {
        display: block !important;
        background-color: rgba(255, 255, 255, 0.5);

    }
    .modal-content {
        background-color: #122c49;
        background-size: cover;
        background-position: center;
        background-image: url(http://atre.cl/assets/img/bg1.jpg);
        background-blend-mode: multiply;
    }
    .close {
        color: #fff;
    }
}