.navbar-dark {
    background-color: transparent !important;
}
.navbar {
    padding: 0;
    li {
        a {
            padding: 15px;
        }
        &:hover {
            background-color: #003c53;
        }
    }
}