<template>
    <header class="grm-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark ">
                <a class="navbar-brand" href="/">
                    <img src="../../assets/img/logo.svg" alt="">
                </a>
            </nav>
        </div>
    </header>
</template>
<script>
    export default {

    }
</script>