<template>
    <div class="row">
        <div class="col-12">
            <h2>Agregar...</h2>
            <div class="card mb-3">
                <router-link to="add/rutinas">
                    <div class="card-body">
                        <p>Rutinas</p>
                    </div>
                </router-link>
            </div>
            <div class="card mb-3">
                <router-link to="add/ejercicios">
                    <div class="card-body">
                        <p>Ejercicios</p>
                    </div>
                </router-link>
            </div>
        </div>
        
    </div>
</template>
<script>
    export default {
        data() {
            return {
                
            }
        },
        methods: {
           
        }
    }
</script>