<template>
    <div class="row mt-5">
        <div class="col-sm-4 col-md-3 mb-4" >
            <div class="card">
               exes
            </div>
        </div>
    </div>
</template>
<script>
    export default {

    }
</script>