<template>
    <div class="row mt-5">
        <div class="col-sm-4 col-md-3 mb-4" >
            <div class="card mb-3">
                <router-link to="ejercicios/:exes">
                    <div class="card-body">
                        <p>exes</p>
                    </div>
                </router-link>
            </div>
            <div class="card mb-3">
                <router-link to="/trains">
                    <div class="card-body">
                        <p>trains</p>
                    </div>
                </router-link>
            </div>
            <div class="card mb-3">
                <router-link to="/add">
                    <div class="card-body">
                        <p>Add</p>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</template>
<script>
    export default {

    }
</script>