<template>
    <div class="mt-3 col-sm-4 col-md-3 mb-4  form-43" >
        <h3>Agregar nuevo ejercicio</h3>
        <form @submit.prevent="addExe">
            <div class="form-group">
                <label for="exercice_name">Nombre</label>
                <input type="text" v-model="exercice_name" class="form-control" id="exercice_name">
            </div>
            <div class="form-group">
                <label for="muscular_group">Grupo muscular</label>
                <input type="text" v-model="muscular_group" class="form-control" id="muscular_group">
            </div>
            <div class="form-group">
                <label for="url_video">Url video</label>
                <input type="text" v-model="url_video" class="form-control" id="url_video">
            </div>
            <div class="form-group">
                <label for="exercice_mechanics">Mecanicas</label>
                <input type="text" v-model="exercice_mechanics" class="form-control" id="exercice_mechanics">
            </div>
            <button type="submit"  class="btn btn-outline-light btn-block">Guardar</button>
        </form>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                exercice_name: null,
                muscular_group: null,
                url_video: null,
                exercice_mechanics: null
            }
        },
        methods: {
            addExe() {
                firebase.database().ref('/exercices/'+ this.exercice_name ).set({
                    exercice_name: this.exercice_name,
                    muscular_group: this.muscular_group,
                    url_video : this.url_video,
                    exercice_mechanics: this.exercice_mechanics
                });
            }
        }
    }
</script>