<template>
<div class="row">
    <div class="mt-3 col-sm-4 col-md-3 mb-4 form-43" >
        <h3>Agregar nueva rutina</h3>
        <form @submit.prevent="addRutine">
            <div class="form-group mb-2">
                <label for="rutine_name">Nombre</label>
                <input type="text" v-model="rutine_name" class="form-control form-control-sm" id="rutine_name" required>
            </div>
            <br>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <div class="form-group mb-3">
                <label for="rutine_objectives">Target</label>
                <input type="text" v-model="rutine_objectives" class="form-control form-control-sm" id="rutine_objectives" required>
            </div>
           <div class="modal modal-add-exe fade show" :class="{modalOn: show_modal}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Agregar ejercicio</h5>
                            <button type="button" class="close" @click.prevent="show_modal = false">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group input-group-sm mb-2">
                                <span class="input-group-addon">Modos</span>
                                <select name="cuerrent_exe" class="form-control" v-model="exe_mode">
                                    <option disabled value="">Seleccionar uno</option>
                                    <option value="normal">Normal</option>
                                    <option value="biSerie">Bi-Serie</option>
                                    <option value="triSerie">Tri-Serie</option>
                                    <option value="circuit">Circuito</option>
                                </select>
                            </div>
                            <div class="rutine-data" v-if="exe_mode">
                                <div class="exe-data">
                                    <div class="input-group input-group-sm mb-2">
                                        <span class="input-group-addon">Ejercicio <span v-if="exe_mode != 'normal'">A</span></span>
                                        <select name="cuerrent_exe" class="form-control" v-model="cuerrent_exe">
                                            <option disabled value="">Seleccionar uno</option>
                                            <option v-for="exe in exes" :value="exe.exe_name"> {{exe.exe_name}} </option>
                                        </select>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" v-model="exe_base" type="radio" name="exe_base" id="repsBase" value="repsBase" checked> Reps
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" v-model="exe_base" type="radio" name="exe_base" id="timeBase" value="timeBase"> Tiempo
                                        </label>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="input-group input-group-sm mb-2">
                                                <span class="input-group-addon">Series</span>
                                                <input type="number" class="form-control" id="no_series">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="input-group input-group-sm mb-2" v-if="exe_base == 'repsBase'">
                                                <span class="input-group-addon">Reps</span>
                                                <input type="number" class="form-control" id="no_reps">
                                            </div>
                                            <div class="input-group input-group-sm mb-2" v-else-if="exe_base == 'timeBase'">
                                                <span class="input-group-addon">Time</span>
                                                <input type="text" class="form-control" id="no_time">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="exe-data-b" v-if="exe_mode == 'biSerie' || exe_mode == 'triSerie'">
                                    <hr>
                                    <div class="input-group input-group-sm mb-2">
                                        <span class="input-group-addon">Ejercicio B</span></span>
                                        <select name="cuerrent_exe" class="form-control" v-model="cuerrent_exe">
                                            <option disabled value="">Seleccionar uno</option>
                                            <option v-for="exe in exes" :value="exe.exe_name"> {{exe.exe_name}} </option>
                                        </select>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" v-model="exe_base" type="radio" name="exe_base" id="repsBase" value="repsBase" checked> Reps
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" v-model="exe_base" type="radio" name="exe_base" id="timeBase" value="timeBase"> Tiempo
                                        </label>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="input-group input-group-sm mb-2">
                                                <span class="input-group-addon">Series</span>
                                                <input type="number" class="form-control" id="no_series">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="input-group input-group-sm mb-2" v-if="exe_base == 'repsBase'">
                                                <span class="input-group-addon">Reps</span>
                                                <input type="number" class="form-control" id="no_reps">
                                            </div>
                                            <div class="input-group input-group-sm mb-2" v-else-if="exe_base == 'timeBase'">
                                                <span class="input-group-addon">Time</span>
                                                <input type="text" class="form-control" id="no_time">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                 <div class="exe-data-c" v-if="exe_mode == 'triSerie'">
                                    <hr>
                                    <div class="input-group input-group-sm mb-2">
                                        <span class="input-group-addon">Ejercicio C</span></span>
                                        <select name="cuerrent_exe" class="form-control" v-model="cuerrent_exe">
                                            <option disabled value="">Seleccionar uno</option>
                                            <option v-for="exe in exes" :value="exe.exe_name"> {{exe.exe_name}} </option>
                                        </select>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" v-model="exe_base" type="radio" name="exe_base" id="repsBase" value="repsBase" checked> Reps
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" v-model="exe_base" type="radio" name="exe_base" id="timeBase" value="timeBase"> Tiempo
                                        </label>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="input-group input-group-sm mb-2">
                                                <span class="input-group-addon">Series</span>
                                                <input type="number" class="form-control" id="no_series">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="input-group input-group-sm mb-2" v-if="exe_base == 'repsBase'">
                                                <span class="input-group-addon">Reps</span>
                                                <input type="number" class="form-control" id="no_reps">
                                            </div>
                                            <div class="input-group input-group-sm mb-2" v-else-if="exe_base == 'timeBase'">
                                                <span class="input-group-addon">Time</span>
                                                <input type="text" class="form-control" id="no_time">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="input-group input-group-sm mb-2 ">
                                    <span class="input-group-addon">Rest</span>
                                    <input type="text" class="form-control" id="no_reps">
                                </div>

                                <div class="form-group mb-0">
                                    <label for="tips">Extras</label>
                                    <textarea class="form-control form-control-sm" id="tips" name="tips"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="input-group-btn">
                                <button class="btn " type="button" @click.prevent="addExe">
                                    <span>Agregar</span>
                                </button>
                            </div>
                        </div>
                    </div>  
                </div>
           </div>
            <!--<div class="form-group mb-3">
                
            </div>-->
            <div class="text-center">
                <button type="submit"  class="btn btn-outline-light btn-sm mb-3 mt-3" @click.prevent="show_modal = true">Agregar ejercicios</button>
            </div>
            
            
            <div class="empty-list" v-if="rutine_exercices.length < 1">
                Aun no hay ejercicios
            </div>
            <div class="added-list" v-else>
            <h4>Ejercicios agregados</h4>
                <div class="card text-white mb-2" v-for="exe in rutine_exercices">
                    <div class="card-body">
                        <h4 class="card-title">{{ exe.exe_name }}</h4>
                        <input type="hidden" >
                        
                    </div>
                </div>
            </div>
            <hr>
            <button type="submit"  class="btn btn-outline-light btn-block ">Guardar</button>
        </form>

    </div>
</div>
</template>
<script>
    export default {
        data() {
            return {
                show_modal: false,
                rutine_name: null,
                rutine_objectives: null,
                cuerrent_exe: {
                    mode: ''
                },
                rutine_exercices: [],
                exe_base: 'repsBase',
                exe_mode: '',
                exes: []
            }
        },
        methods: {
            addRutine() {
                firebase.database().ref('/rutines/'+ this.rutine_name ).set({
                    rutine_name: this.rutine_name,
                    rutine_objectives: this.rutine_objectives
                });
            },
            addExe() {
                this.rutine_exercices.push({
                    exe_name: this.cuerrent_exe,

                });
                this.show_modal = false;
            }
        },
        mounted() {
           let exesList = firebase.database().ref('/exercices/');
           let resp = [];
           exesList.once('value').then(function(snapshot){
                let temp = snapshot.val();
                
                for (let key in temp) {
                    resp.push({
                        exe_id : key,
                        exe_name : temp[key].exercice_name
                    });
                }
           });
           this.exes = resp;
        }
    }
</script>