<template>
    <div id="app">
        
        <site-header></site-header>
        <section class="main">
            <div class="container">
                <router-view></router-view>
            </div>
        </section>
    </div>
</template>

<script>
import SiteHeader from './components/site-header/index.vue';
    export default {
        name: 'app',
        components: {
            SiteHeader,
        }
    }
</script>
<style lang="scss" >
   @import "./assets/scss/main.scss";
</style>

